.vue-report {
    border: 2px solid black;
    border-collapse: collapse;
}

.headerAboveRow, .headerRow {
    border-bottom: 2px solid black;
}

.row {
    border-bottom: 1pt solid black;
}

.headerAbove, .header, .cell, .cell-edit {
    border-right: 2px solid black;
    padding: 5px;
    /*vertical-align: top;*/
}

/*region toggler*/

.toggler-wrapper {
    /* border: 0px; */
    display: block;
    width: 45px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.toggler-wrapper input[type="checkbox"] {
    border: 0px;
    display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #1faee9;
}

.toggler-wrapper .toggler-slider {
    background-color: #cecece;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}


.toggler-wrapper.styler input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

.toggler-wrapper.styler .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #ffffff;
}
/*endregion toggler*/

/*region loader*/
.loader{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #1faee9;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.loader span{
    position: absolute;
    top:75px;
    font-size: 20px;
    letter-spacing: 12px;
    color: #1faee9;
    left:15%;
}
/*endregion loader*/

/*region button*/
.export {
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 16px;
    width: 140px;
    background-color: #2fc6f6;
    font-size: 14px;
    color: white;
    height: 42px;
    padding: 6px;
    margin-bottom: 5pt
}

.transition {
    transition: 1s;
}

.export:hover {
    cursor: pointer;
    border: 3px solid #2fc6f6;
    background-color: white;
    color: #2fc6f6;
}
/*endregion button*/
